<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card text-center" style="width: 40rem;">
      <div class="card-head">
        <button (click)="randomString()" class="d-inline bg-primary btn-lg text-white">Generate code</button>
      </div>
      <div class="card-body">
        <h1 class="display-2 text-dark">{{codeGenerated}}</h1>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="fixed-bottom footer-copyright text-center py-3 bg-primary text-light">© {{ date | date:'yyyy' }} Copyright:
    <a class="text-light" href="https://github.com/JohannThapa"> JohannThapa</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
